# git ignore file
# ignore all files in pycache
__pycache__/
utils/__pycache__/
*.pyc
*.png
*.tex
*.pkl
development/
gufic_env/Testing_files/
MUJOCO_LOG.TXTbolt_demos/ bolt_demos_200eps/ bolt_demos_random_start/ force_plots/
force_plots/
force_plots/
bolt_demos_random_start/
gific/
